.App-main {
  background-color: RGB(250, 250, 250);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* will-change: transform, opacity; */
}

.roof {
  color: teal;
}

.results, .search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-box {
  margin-top: 15px;
}

.accordion-area  {
  width: 100% !important;
}

.accordion-total {
  margin-left: auto !important;
}

.expand-icon {
  color: teal;
}

.MuiFormLabel-root.Mui-focused {
  color: teal !important;
}

.MuiFilledInput-underline:after {
  border-bottom: 2px solid teal !important;
}

.google-places-autocomplete__input:focus {
  border-bottom: 1px solid teal !important;
  box-shadow: 0 1px 0 0 teal !important;
}

.two-column {
  display: flex;
  flex-direction: row;
}
