.App {
  text-align: center;
}

.App-main {
  background-color: RGB(250, 250, 250);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.roof {
  color: teal;
}
